/HandTex.png
/HandTex.png.meta
/LM_Logo_Black.png
/LM_Logo_Black.png.meta
/LM_Logo_White.png
/LM_Logo_White.png.meta
/LeapServiceProvider_ScriptIcon.png
/LeapServiceProvider_ScriptIcon.png.meta
/LeapXRServiceProvider_ScriptIcon.png
/LeapXRServiceProvider_ScriptIcon.png.meta
