/Dependencies.txt
/Dependencies.txt.meta
/Editor.meta
/EditorResources.meta
/Examples.meta
/Materials.meta
/Models.meta
/Plugins.meta
/Prefabs.meta
/README_BEFORE_UPDATING.txt
/README_BEFORE_UPDATING.txt.meta
/Resources.meta
/Scripts.meta
/Shaders.meta
/Tests.meta
/Textures.meta
/Version.txt
/Version.txt.meta
/readme.txt
/readme.txt.meta
