/Dodecahedron.fbx
/Dodecahedron.fbx.meta
/LoPoly_Rigged_Hand_Left.fbx
/LoPoly_Rigged_Hand_Left.fbx.meta
/LoPoly_Rigged_Hand_Right.fbx
/LoPoly_Rigged_Hand_Right.fbx.meta
/LoPoly_Rigged_Hands_Skeleton.fbx
/LoPoly_Rigged_Hands_Skeleton.fbx.meta
/LowPolySphere.fbx
/LowPolySphere.fbx.meta
/Materials.meta
/MediumPolySphere.fbx
/MediumPolySphere.fbx.meta
