/BSpline.cs
/BSpline.cs.meta
/CatmullRom.cs
/CatmullRom.cs.meta
/Examples.meta
/HermitePoseSpline.cs
/HermitePoseSpline.cs.meta
/HermiteQuaternionSpline.cs
/HermiteQuaternionSpline.cs.meta
/ISpline.cs
/ISpline.cs.meta
/PoseSplineSequence.cs
/PoseSplineSequence.cs.meta
