/InterpolatorBases.cs
/InterpolatorBases.cs.meta
/MaterialInterpolators.cs
/MaterialInterpolators.cs.meta
/TransformInterpolators.cs
/TransformInterpolators.cs.meta
/ValueInterpolators.cs
/ValueInterpolators.cs.meta
