/Bipyramid.cs
/Bipyramid.cs.meta
/Box.cs
/Box.cs.meta
/Capsule.cs
/Capsule.cs.meta
/Circle.cs
/Circle.cs.meta
/Frustum.cs
/Frustum.cs.meta
/Point.cs
/Point.cs.meta
/Rect.cs
/Rect.cs.meta
/Sphere.cs
/Sphere.cs.meta
/SphericalSection.cs
/SphericalSection.cs.meta
